@font-face {
    font-family: "Golos-TExt1";
    src: url(../fonts/Golos-Text_Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Golos-Text2";
    src: url(../fonts/Golos-Text_DemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Golos-Text3";
    src: url(../fonts/Golos-Text_Regular.ttf);
    font-weight: 500;
    font-style: normal;
}